.content{
    padding: 0 30px;
}
h1 {
text-align: center;
padding-top: 3vmax;
}
.content h4{
    color: #dddddd;
    line-height: 3vmax;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.5vmax;
    font-weight: 600;
    word-spacing: 0.2px;
    text-align: center;

}
.linkedin-team{
    display: block;
    padding-top: 6px;
}

.linkedin-team img{
    width: 1.7vmax;
}
.team{
   padding: 1vmax 10vw;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.team-card {
    padding-bottom: 24vmax;
   background-position: center;
   background-size: cover;
   width: 20vmax;
   height: 30vmax;
   background: #dddddd ;
   box-shadow: 0px 5px 9px #101731;
 }

 .team-card .team-img{
   width: 100%;
   height: 19vmax;
   overflow: hidden;

 }
 .team-card .team-img img{
     width: 100%;
    

 }
 .team-card .content-team{
     box-sizing: border-box;
     text-align: center;
     padding: 1vmax;
 }
 .team-card .content-team h3{
     text-transform: uppercase;
     margin: 0;
     padding: 0;
     font-size: 1.5vmax;
     line-height: 3vmax;
     text-align: center;
     color: #000;

 }
 .team-card .content-team span{
     font-size: 1.2vmax;
    
     color: #2fca13;
     font-weight: 400;
 }